/[Ll]ibrary/
/[Tt]emp/
/[Ll]ogs/
*.suo
*.user
Library/ArtifactDB
Library/CurrentLayout-default.dwlt
Library/InspectorExpandedItems.asset
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptMapper
Library/ShaderCache/EditorEncounteredVariants
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe5.log
Library/SourceAssetDB
Library/StateCache/SceneView/cc2798-mainStage.json
Library/UIElements/EditorWindows/UnityEditor.PackageManager.UI.PackageManagerWindow.pref
*.mp4
Recordings/
UserSettings/
Library/ArtifactDB
Library/CurrentLayout-default.dwlt
Library/CurrentLayout-default.dwlt
Library/CurrentLayout-default.dwlt
Library/
